{% extends 'base/main.html' %}
{% load static %}
{% block content %}

<style type="text/css">
	#div_id_tags, #id_tags{
		overflow-y: scroll;
		max-height: 100px;
		border-radius: 5px;
		padding: 5px;
		border:1px solid #888;
	}
	.post{
		margin-bottom: 2rem;
	}
</style>

<div class="main-container">
	<h1>Posts</h1>
	<div class="post-wrapper">
		{% for post in posts %}
		<div>
			<div class="post">
				<img class="thumbnail" src="{{post.thumbnail.url}}">
				<div class="post-preview">
					<h6 class="post-title">{{post.headline}}</h6>
					<p class="post-intro">{{post.sub_headline}}</p>
					<a href="{% url 'post' pk=post.id %}">Read More</a>
				</div>
			</div>
		</div>
		{% empty %}
			<h3>No posts found...</h3>
		{% endfor %}
	</div>
	<p align="center">
		<a href="{% url 'home' %}">&laquo Back to Home</a>
	</p>
</div>

{% endblock content %}